.page-title {
	line-height:1.5em;		/* - Originally 1.1em. Felt was too short - text was clipped at bottom */
	margin-bottom:1rem;		/* - originally 0.5rem. Felt was too short - paragraph text too close */
	padding-right:75px;		/* - Pushes text of title so that it doesn't overspill over right-side buttons*/
}
.page-title.shrink {
	z-index: 10000;		/* - Originally 9. Was being overlapped by "Reset" button (w/ z-index of 9999) */
	width:100%;			/* - Originally 90%. Too short width-wise, rightmost guide content visible */
	max-width: 100%;	/* - Originally 90%. Too short width-wise, rightmost guide content visible */
}

.buttons{
  position: relative;	/* - makes "buttons" div relative - "Reset" button aligns with "Text Code" button */
}

.error::before{
  top: 37px;		/* - Retained from previous version of "CIS54x.css" - unknown reason for being here */
}

a.codio-button.codio-button-type-reset {
  left: 190px;		/* - Keeps "Reset" button on the right side of the "Text Code" button */
  top: 41px;
}

.codio-button-type-reset:hover {
	background: #B31B1B !important;		/* "Reset" button hover */
}


/* End Canvas Styles*/

#react_container{
  margin-left: 15px; 	/* Makes guide content wider */
  margin-right: 15px;	/* Makes guide content wider */
}

/* ---
 * Originally from "styles.css" - unknown if should keep or modify 
 * --- */
pre.codio-button-result-out.codio-button-result-out-fail {
	/* visibility: hidden; */	/* Originally from "styles.css" - unknown if should keep or modify */
}

/* ---
 * Originally from "styles.css" - unknown if should keep or modify 
 * --- */
pre.codio-button-result-out.codio-button-result-out-fail strong, pre.codio-button-result-out.codio-button-result-out-fail string {
	 /* --visibility: hidden; */
	 /* visibility: hidden; */
}

/* ---
 * Originally from "CIS54x.css" - "last-run" is <div> that contains time of last autograder initiation
 * --- */
.codio-assessment-last-run {
	margin-bottom: 15px;	/* Separates autograder results from "last-run" div */
}

/* Radio buttons*/

/* Checkboxes*/

/* Fill in the blanks */

/*   simple */

/* Tree text */

/* Tree text auto */

/* Codio Blocks */

.codio-warning,
.codio-definition,
.codio-important,
.codio-topic,
.codio-challenge,
.codio-info,
.codio-curiculum,
.codio-guidance,
.codio-meetups,
.codio-headline,
.codio-hackathon,
.codio-create,
.codio-calendar,
.codio-growthhack,
.codio-debugging,
.codio-xdiscipline {
  padding: 0px 20px 12px 72px;
}

/* ---
 * Originally from "styles.css" - unknown if should keep or modify 
 * --- */
.codio-button-result {
	/* padding: 1em 50px; */
}

.codio-button-result-out:before {
  left: -30px;	/* Originally from "CIS54x.css" - keeps "success" and "fail" icon to left of Autograder results */
  top: 36px;	/* Originally from "CIS54x.css" - keeps "success" and "fail" icon to left of Autograder results */
}

.codio-button-result-out-pass:before {
  content: url("https://s3.amazonaws.com/ecornell/Codio/img/Codio_Icon_Correct.svg");	/* custom image for all-passed autograder results */
  margin-top: 14px;		/* keeps all-passed icon verticaly-aligned with "# tests passed!" text from Autograder results */
}

.codio-button-result-out-fail:before {
  content: url("https://s3.amazonaws.com/ecornell/Codio/img/Codio_Icon_Incorrect.svg");	/* custom image for some-failed autograder results */
  margin-top: 14px;		/* keeps all-passed icon verticaly-aligned with "# tests passed!" text from Autograder results */
}

.codio-button-result-out-invalid:before {
  content: url("https://s3.amazonaws.com/ecornell/Codio/img/Codio_Icon_Incorrect.svg"); /* custom image for some-failed autograder results */
}

/* ---
 * Originally from "styles.css" - unknown if should keep or modify 
 * --- */
.codio-button-result .codio-button-result-out {
	/* visibility: hidden; */
}

/* ---
 * Originally from "CIS54x.css" - unknown if should keep or modify, but keep anyways
 * --- */
footer a {
    background: none;
    color: #FFF;
}

/* ---
 * Originally from "CIS54x.css" - unknown if should keep or modify, but keep anyways
 * --- */
code.f{
  display:inline-block;
  padding: 10px;
}

/* Tabs */

/* ---
 * Originally from "styles.css" - unknown if should keep or modify 
 * --- */
.tab-content {
	/* position: relative; */
}

/* Autograder Reporter Custom CSS */
.cis54x-bolded {
	font-weight:bold;
}
.cis54x-mainContainer {
	width:100%;
	font-size:0;
	font-family: 'Open Sans', Helvetica,Arial,sans-serif;
}
.cis54x-header {
	font-size:12px;
	width:100%;
	margin-bottom:30px;
	background-color:#B31B1B;
	color:#FFFFFF;
	box-sizing:border-box;
	padding:15px;
}

.cis54x-header.failure, .cis54x-header.success {
	position:relative;
	top:0;
	left:0;
	border-radius:0;
}
.cis54x-header.failure {
  background-color: #B31B1B;
}

.cis54x-header.success {
	background-color: #005f3c;
}
.cis54x-header.success::before {
	display:none;
}

.cis54x-headerh1 {
	margin:0;
	font-size:1.5em;
	color:white!important;
}
.cis54x-body {
	font-size:12px;
	box-sizing:border-box;
	padding-left:15px;
	padding-right:15px;
	visibility:visible;
}
.cis54x-box {
	margin-bottom:45px;
}
.cis54x-boxTitle {
	font-size: 20px !important;
	margin-top:15px !important;
	margin-bottom:15px !important;
	border-bottom:1px solid rgb(230,230,230);
  color: rgb(0,0,0);
}
.cis54x-boxContents {
	text-align:left;
	box-sizing:border-box;
}
.cis54x-passTest-title {
	margin:0;
	border-bottom:1px solid rgb(230,230,230);
	font-size:16px;
	line-height:24px;
  color:rgb(0,95,60);
}
.cis54x-failTest-container {
	margin-bottom:30px;
}
.cis54x-failTest-title {
	margin:0;
	padding-top:2px;
	padding-bottom:2px;
	font-size:16px;
	line-height:24px;
	border-bottom:1px solid rgb(230,230,230);
  color: rgb(255,65,45);
}
.cis54x-failTest-messageBox {
	box-sizing:border-box;
	padding-left:5px;
	padding-top:5px;
	border-left:1px solid rgb(230,230,230);
	margin-bottom:15px;
}
.cis54x-failTest-message {
	margin-top:0;
	margin-bottom:15px;
	font-size:12px;
	word-wrap:break-word;
	overflow-wrap:break-word;
	white-space:pre-wrap;
}
.cis54x-failTest-code {
	display:block;
	width:100%;
	box-sizing:border-box;
	padding:5px;
	margin-bottom:10px;
	border-radius:0;
	font-size:10px;
	line-height:15px;
}
.cis54x-failTest-subtitle {
	border:1px solid #c7d5f6;
	background-color:#f7f9fc;
}
.cis54x-failTest-submessage {
	border:none;
	background-color:transparent;
	font-family: 'Open Sans', Helvetica,Arial,sans-serif;
  font-size: 14px;
}

/* ---
 * Custom Inline Buttons within Guide CSS - used for "Preview" buttons inside code, set to be very similar to "Test Code" button styling
 * --- */
.custom_button {
  padding: 3px 17px 1px;
  display:inline-block;
  background-color: #666666;
  color:white;
}
.custom_button .codio-command {
  text-shadow:none;
  background:none;
}
.custom_button:hover {
  background-color:#000;
}

/* ---
 * Something in the CSS causes wonky behavior to appear when the test results are printed. This CSS resolves those issues.
 * --- */
.codio-button-result {
  visibility: hidden;
  padding:0px;
}
.codio-button-result .codio-assessment-last-run {
  display:block;
  width:100%;
}
.codio-button-result .codio-button-result-out {
  display:block;
  height:auto;
  width:100%;
}
.codio-button-result.progress .codio-assessment-last-run {
  display:none;
}
.codio-button-result.progress .codio-button-result-out-progress {
  background-color:rgb(255,255,255);
}

.codio-button-result:before {
  border:none;
}
pre.codio-button-result-out.codio-button-result-out-fail {
  visibility: visible;
}


/* ---
 * UPDATES - August 5th, 2019
 * --- */


/* INSIDE "CIS54x-Overrides.css", REPLACE CONTENTS OF ".codio-button-result-out:before" WITH BELOW */
/* Need to remove the current codio ::before icon, as we'll have to make that viable via the autograder's results now. */
.codio-button-result-out:before {
  display:none;
}

/* ADD TO "CIS54x_Overrides.css" - there is a declaration like this already inside */
/* need to overwrite the default overflow property... otherwise, the ::before used for the autograder won't show up */
.codio-button-result .codio-button-result-out {
  overflow:initial !important;
}

/* ADD TO "CIS54x_Overrides.css" - there is a declaration like this already inside */
/* necessary for making ::before icon positioned relative to our autograder results */
article.cis54x-mainContainer {
  position:relative;
}

/* ADD TO "CIS54x_Overrides.css" */
article.cis54x-mainContainer::before {
  position: absolute;
  left:-30px;
  display: inline-block;
  height: 26px;
  width: 26px;
  margin-top: 11px;
  visibility:visible;
}
article.cis54x-mainContainer.successfulRun::before {
  content: url("https://s3.amazonaws.com/ecornell/Codio/img/Codio_Icon_Correct.svg");
}
article.cis54x-mainContainer.failedRun::before {
  content: url("https://s3.amazonaws.com/ecornell/Codio/img/Codio_Icon_Incorrect.svg");
}

.codio-button-result.progress {
	visibility: visible;
}

abbr, abbr[title]{
	text-decoration: none !important;
}
